.navigation_link-wrapper {
  display: flex;
  flex-wrap: nowrap; /* Prevent items from wrapping */
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}
