@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  overscroll-behavior: none;
  background-color: #060606 !important;
  color: #fff;
  overflow-y: scroll;

  font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
}
